button.normal {
  background: @bg_color;
}

button.start {
  background: green;
}

button.end {
  background: red;
}

button.obstacle {
  background: black;
}

button.agent {
  background: @highlight;
}

button.winner {
  background: orange;
}
